- content_for :gmaps_js do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ShitholEs::Application.config.google_api_key}&sensor=false"
  = javascript_include_tag 'googlemaps/index'

- model_class = Shithole
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @shithole.name
%p
  %strong= model_class.human_attribute_name(:score) + ':'
  %br
  = @shithole.score
%p
  %strong= model_class.human_attribute_name(:cost) + ':'
  %br
  = @shithole.cost
%p
  %strong= model_class.human_attribute_name(:imgurl) + ':'
  %br
  = @shithole.imgurl
%p
  %strong= model_class.human_attribute_name(:lat) + ':'
  %br
  = @shithole.lat
%p
  %strong= model_class.human_attribute_name(:lng) + ':'
  %br
  = @shithole.lng

= render 'gmap_js'

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), shitholes_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_shithole_path(@shithole), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), shithole_path(@shithole), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
